:root {
    --primary: #1e90ff;
    --secondary: #129862;
    --font-primary: "Fredoka", sans-serif;
    --font-secondary: "Lalezar", cursive;
}

*,
:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.board-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-header {
    color: var(--primary);
    margin-bottom: 10px;
    font-family: var(--font-secondary);
}
